/*
  Hoy como antes
*/

/*
  Fonts
*/

/* @font-face {
  font-family: 'Josefin Slab', serif;
  src: url("/fonts/JosefinSlab-Bold.ttf");
  src: url("/fonts/JosefinSlab-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("/fonnts/Montserrat-Bold.ttf");
  src: url("/fonnts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/fonts/OpenSans-Regular.ttf");
  src: url("/fonts/OpenSans-Regular.ttf") format('truetype');
} */

/* Basics */
body{
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(236,237,239);
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

/* Buttons */

.btn-main {
  display: inline-block;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Josefin Slab', serif;
}

.btn-main:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.btn-main.active {
  color: #fff;
  background-color: #000;
}

.btn-sound {
  position: absolute;
  height: 42px;
  width: 40px;
  bottom: 9vh;
  left: 0;
  border-radius: 0;
  z-index: 10;
  background-image: url(../img/sound_on.png);
  background-size: cover;
}

.btn-sound:hover {
  background-image: url(../img/sound_off.png);
  background-color: transparent;
}

.btn-menu {
  position: absolute;
  top: 10vh;
  right: 0;
  height: 42px;
  width: 40px;
  border-radius: 0;
  line-height: 1rem;
  padding: 0;
  padding-top: 4px;
  z-index: 10;
}

.btn-menu span {
  display: block;
}

.btn-close {
  display: inline-block;
  font-weight: 700;
  color: rgb(236,237,237);
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.2rem;
  line-height: 0;
  padding: 1rem;
}

/*
  Modal menú
 */

.menu {
   display: none;
   position: fixed;
   z-index: 20;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.menu .menu__content {
 background-color: rgb(236,237,239);
 padding-top: 9%;
}

.pelicula .menu {
 background-color: rgba(236,237,239,0.5);
}

.menu__content {
   position: relative;
   margin: auto;
   padding: 0;
   width: 100%;
   height: 100%;
   /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
}

.menu__content--right,
.menu__content--left {
 background-size: cover;
}

.menu__content--right {
 background-image: url(../img/menu_right.png);
}

.menu__content--left {
 background-image: url(../img/menu_left.png);
}

/*
  Modal reproductor
 */

.modal-video {
  background-color: rgba(0,0,0,0.8);
}

.modal-video__content {

}

.modal-video__content video {
  *height: calc(100/30%);
}

/* Menu list */

.menu__list {
  text-align: center;
  list-style: none;
  font-family: 'Josefin Slab', serif;
}

.menu__list li {
    padding: 12px 0;
}

.menu__list li button,
.menu__list li a {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
}

.menu__list li button:hover,
.menu__list li a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

@-webkit-keyframes zoomIn {
   from {
       opacity: 0;
       -webkit-transform: scale3d(.3, .3, .3);
       transform: scale3d(.3, .3, .3);
   }

   50% {
       opacity: 1;
   }
}

/*
  INDEX
  */

.index video {
  height: 100%;
  width: 100%;
  background-position: absolute;
  object-fit: cover;
}

.index__content {
  height: 100%;
  position: absolute;
  top: 0;
}

.index__content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  color: #fff;
}

.index__content .btn-main {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: rgba(248, 249, 250, 0.3);
  color: #fff;
}

.index__content .btn-main:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.index__content .btn-main i {
  color: #f8f9fa;
}

.index__content .btn-main span {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  padding: 0 60px;
}

/*
  DESCRIPCIÓN
*/

.description .description__title {
  font-size: 4rem;
  text-align: center;
}

.description__content {
  padding-right: 10rem;
}

.description__content .btn-main,
.sobre_mi__content .btn-main,
.referencias__content .btn-main {
  font-size: 1.1rem;
  border-width: 1px;
  border-color: #000;
  border-radius: 4px;
  background-color: rgb(236,237,239);
  color: #000;
}

.description__content .btn-main span {
  padding-left: 15px;
  padding-right: 15px;
}

.description__content .btn-main:hover,
.sobre_mi__content .btn-main:hover,
.referencias__content .btn-main:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.description__side {
  background-image: url(../img/descripcion_side_top.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  padding: 0;
}

.description__side .download {
  background-color: rgb(236,237,239);
  position: relative;
  top: 59%;
  padding: 18px 0 2px;
  text-align: center;
  left: calc(-100%/4);
  width: 150%;
}

.description__side a {
  color: #000;
}

.description__side a:hover {
  text-decoration: none;
}

.description__side img {
  width: 40px;
  height: auto;
}

.description__side h3 {
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: .5rem;
}


/*
  PELICULA
 */

.pelicula .menu__list {
 text-align: left;
 padding-left: 0;
}

.pelicula .menu__list li {
 padding: 6px 0;
}

.pelicula__info {
  padding: 15px;
  background-color: #fff;
  text-align: center;
  display: none;
}

.pelicula__info h2 {
  font-size: 1.3rem;
}

.pelicula__info p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.btn-pelicula {
  height: 42px;
  width: 40px;
  border-radius: 0;
  background-image: url(../img/sound_on.png);
  background-size: cover;

  display: inline-block;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

.btn-pelicula:hover {
  background-image: url(../img/sound_off.png);
}

.modal-video__footer h3 {
  color: #fff;
}

/* EVENTOS */
.eventos {
  padding-top: 6rem;
}

.eventos__item {
  font-family: 'Josefin Slab', serif;
}

.eventos__item h3 {
  padding: 0;
  margin: 0;
  font-size: 2.7rem;
  line-height: 1.5rem;
}

.eventos__item h3:first-child {
  font-size: 1rem;
}

.eventos__item h3:last-child {
  font-size: .8rem;
  line-height: .7rem;
}

.eventos__item.number-double h3:nth-child(2) {
  font-size: 2.4rem;
}

.eventos__item.number-double h3:last-child {
  line-height: .9rem;
}

.eventos__item p {
  background-color: #fff;
  padding: .8rem;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
}

/* COLABOTADORES */

.colaboradores {
  padding-top: 5rem;
}

/*
  CONTACTO
  */

.contacto__links ul {
  list-style: none;
  padding-left: 0;
}

.contacto__links li {
  background-color: #fff;
  margin-top: 1.2rem;
  padding: 1rem .8rem .5rem 1rem;
  text-align: left;
}

.contacto__links li h1 {
  font-size: 1.8rem;
  line-height: .8rem;
}

.contacto__links li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: .8rem;
  color: #000;
}

.contacto__links li a:hover {
  color: #000;
}


/*
  AUDIO PLAYER
 */

#audioplayermain{
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 42px;
}

#playerboundry{
   display:flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   background-color: #fff;
   height: 42px;
}

.toggleplay{
   background-image:url('../img/sound_on.png');
   background-repeat:no-repeat;
   background-size: 40px;
   width: 42px;
   position:relative;
}

 .toggleplaypause{
   width: 42px;
   position:relative;
   background-image:url('../img/sound_off.png');
   background-repeat:no-repeat;
   background-size: 42px;
}

.fullvolume{
     width:60px;
     background-image:url('volume-button-grey-circle-icon.png');
     background-repeat:no-repeat;
     background-size: 60px;
}
 .mute{
     width:60px;
     background-image:url('mute-icon.png');
     background-repeat:no-repeat;
     background-size: 60px;
}

#progress{
   background-color: #000;
   width: 115px;
   position: relative;
   height: 4px !important;
   margin-top: 19px;
   margin-left: 15px;
   margin-right: 15px;
}

/* #playerboundry > div {
   height: 40px;
   display:block;
} */

#time{
   max-width:140px;
   margin-top: calc(60px/2 - 10px);
   margin-left:5px;
   margin-right:5px;
}

.seekbar{
   width: 0px;
   height: 4px;
   background-color: gray;
}

.ball{
   height: 10px;
   width: 10px;
   background-color: #000;
   color: black;
   border-radius: 100%;
   margin-top: -7px;
   margin-left:calc(-10px + 0%);
   cursor: grab;
}

 #volslider{
     -webkit-appearance: none;
     height: 10px;
     border-radius:3px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
     margin-top:20px;
}
 #volslider:hover{
     opacity:1;
}
 #volslider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 20px;
     height: 20px;
     border-radius:100%;
     background:aqua;
     cursor: pointer;
}
 #volslider::-moz-range-thumb {
     width: 20px;
     height: 20px;
     border-radius:100%;
     background:aqua;
     cursor: pointer;
}


/*
  SOBRE MI
 */

.sobre_mi__top,
.sobre_mi__bottom {
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
}

.sobre_mi__top {
  background-image: url(../img/sobre_top.jpg);
}

.sobre_mi__bottom {
  background-image: url(../img/sobre_bottom.jpg);
}

.sobre_mi__content p {
  background-color: #fff;
  padding: .8rem 1rem;
}

/*
  REFERENCIAS
 */

.referencias__left,
.referencias__right {
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.referencias__left {
  background-image: url(../img/refer_left.jpg);
}

.referencias__right {
  background-image: url(../img/refer_right.jpg);
}

.referencias__item {
  background-color: #fff;
  padding: 3rem 1.2rem;
}

.referencias__content .btn-main {
  background-color: #fff;
}
